plugins {
  id 'nf-prov'
}

prov {
  enabled = true
  formats {
    legacy {
      file = 'output/manifest.json'
      overwrite = true
    }
  }
}

dag {
    overwrite = true
}
docker {
    enabled = true
    runOptions = "--user root --mount type=volume,src=nfwrk,dst=/nf"
}
report {
    overwrite = true
}
timeline{
    overwrite = true
}

cleanup = true
workDir = "/nf/wrk"